:root {
    --primary-color: #0a395e;
    --secondary-color: #87e0e0;
    --tertiary-color: #cbd4d4;
    --quaternary-color: #353d3d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px 0px 20px 0px;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-block;
    font-size: 60px; 
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 10px 10px 90px;
    justify-self: left;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 5px;
    border-bottom: solid 5px var(--secondary-color);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 0px 0px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/dani-hartley.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    color: var(--primary-color);
  }

.bottom-right {
    position: absolute;
    bottom: 130px;
    right: 16px;
    background-color: var(--secondary-color);
    font-size:35px;
    padding: 15px;
    text-align: center;
    width: 400px;
  }

.section-title {
    margin: 30px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-title h2 {
    flex: 1 20%;
    font-size: 45px;
    color: var(--primary-color);
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid var(--primary-color)
}

.section-info {
    flex: 2 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--primary-color);
    font-size: 15px; 
    padding-left: 50px;   
}

section div p {
    font-size: 15px;
    font-weight: lighter;
}

section a {
    text-decoration:none;
}

section a:hover {
    opacity: 0.5;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.flex-item {
    width: 49%;
    min-width: 49%;
    border: 4px solid var(--secondary-color);
    font-size:22px;
    font-weight:bold;
    margin-bottom: 15px;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

#first-link {
    width:100%;
    height: 450px;
}

.apptext {
    margin-top: auto;
    width: fit-content;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 5px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px;
    border-bottom: solid 5px var(--primary-color);
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px;
    border-bottom: solid 5px var(--primary-color);
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    header {
        padding-bottom: 15px;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding: 0px 0px 10px 0px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .bottom-right {
        font-size: 25px;
        width:300px;
        bottom: 160px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%
    }

    .section-title h2 {
        flex: 100%;
        text-align: center;
        border-right:none;
        border-bottom: 5px solid var(--primary-color);
    }

    .section-info {
        padding-top: 30px;
        padding-left: 0px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
    .hero {
        height: 350px;
    }
    
    .bottom-right {
        font-size: 16px;
        width: 225px;
        bottom: 100px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   header {
       padding-bottom: 50px;
   }

   header h1 {
       padding: 0px;
   }

   .hero {
        height: 250px;
}

    .bottom-right {
        font-size: 16px;
        width: 150px;
        bottom: 50px;
}

   .flex-item {
       width:100%;
       height: 250px;
   }

   #first-link {
       height: 250px;
   }
   
   footer ul {
       justify-content: center;
   }
}